@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Your cart is deleted successfully</h4>
<hr />

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>